body {
   background-color: hsl(240, 10%, 15%);
   color: white;
   font-family: sans-serif;
   display: grid;
   grid-template-rows: auto 1fr;
   gap: 3rem;
   justify-items: center;
   justify-content: space-around;
   height: 100vh;
   margin: 0;
}

main {
   max-width: 80ch;
   line-height: 1.35rem;
}

main header {
   display: flex;
}

img {
   display: inline-block;
   margin: auto;
}

p:has(button) {
   display: flex;
   justify-content: center;
}

kbd {
   --size: 1.25rem;
   border: 1px solid white;
   border-radius: 0.25em;
   font-size: var(--size);
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: calc(var(--size) + 0.25em);
   height: calc(var(--size) + 0.25em);
   color: white;
   background-color: #444;
}

dialog {
   background-color:black;
   color: white;
   backdrop-filter: blur 10px;
}

article {
   header {
      display: flex;
      justify-content: space-between;
   }

   footer p {
      text-align: center;
      color: white;
   }
}

dl {
   --border-color: #444;
}

dl dt {
   color: #aaa;
   margin-block: 1em;
}

dl dd {
   margin-inline-start: 0;
   border: 1px solid var(--border-color);
   border-radius: 1em;
   padding-inline: 1em;
   line-height: 1.25em;
}

section#plugin-studio-wrapper {
   padding: 1em;
   display: grid;
   justify-items: center;
   align-content: stretch;
   border: 1px solid grey;
   border-top: none;
   border-bottom-left-radius: 1em;
   border-bottom-right-radius: 1em;
   z-index: 0;
   background-color: rgba(0,0,0,0.5);
   width: 80vw;

   > button {
      height: 2em;
   }

   > div {
      place-items: center;
      margin-block: 0.5em;
   }

   >:is(a, a.visited) {
      margin-block: 0.5em;
      color: lightgreen;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
         color: lightcoral;
      }
   }
}

section#plugin-studio {
   font-family: monospace;
   z-index: 0;
   width: 80vw;

   display: flex;

   h2 {
      text-align: center;
      font-size: 1.2rem;
   }

   > * {
      flex: 30% 1 1;
   }
}

section#plugin-studio-controls {
   display: inline-flex;
   justify-content: flex-start;
   white-space: nowrap;
   gap: 1em;
}

dialog::backdrop {
   background-color: rgba(0,0,0,0.5);
}

dialog {
   max-width: 80ch;
   max-height: 80vh;
   border-color: grey;
   background-color: hsl(240, 10%, 5%);
   color: hsl(0, 0%, 95%);
   padding: 1rem 2rem;
   line-height: 1.4em;

   pre {
      font-size: 0.9rem;
      margin-block: 1.5em;
      padding-block: 1em;
      padding-inline-start: 1em;
      border: 1px solid var(--color-blue-accent);
      border-radius: 1em;
      background-color: var(--color-nav-bg);
      color: var(--color-off-white);
      --background-size: 8px;
      --background-line-color: hsla(240, 5%, 55%, 10%);
      background-image:
         linear-gradient(var(--background-line-color) 1px, transparent 1px),
         linear-gradient(90deg, var(--background-line-color) 1px, transparent 1px);
      background-size: var(--background-size) var(--background-size);
   }
}
