body {
   background-color: hsl(240, 10%, 15%);
   color: white;
   font-family: sans-serif;
   display: grid;
   place-items: center;
   justify-content: space-around;
   height: 100vh;
   margin: 0;
}

main {
   max-width: 80ch;
   line-height: 1.35rem;
}

main header {
   display: flex;
}

img {
   display: inline-block;
   margin: auto;
}

p:has(button) {
   display: flex;
   justify-content: center;
}

kbd {
   --size: 1.25rem;
   border: 1px solid white;
   border-radius: 0.25em;
   font-size: var(--size);
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: calc(var(--size) + 0.25em);
   height: calc(var(--size) + 0.25em);
   color: white;
   background-color: #444;
}

dialog {
   background-color:black;
   color: white;
   backdrop-filter: blur 10px;
}

dialog::backdrop {
   background-color: rgba(0,0,0,0.5);
}

article {
   header {
      display: flex;
      justify-content: space-between;
   }

   footer p {
      text-align: center;
      color: white;
   }
}



dl {
   --border-color: #444;
}

dl dt {
   color: #aaa;
   margin-block: 1em;
}

dl dd {
   margin-inline-start: 0;
   border: 1px solid var(--border-color);
   border-radius: 1em;
   padding-inline: 1em;
   line-height: 1.25em;
}
